* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 300px;
}

.container{
    /* Definimos que el ancho maximo del container */
    max-width: 900px;
}

#imagen-principal{
    width: 400px;
}

.creditos a{
    text-decoration: none;
    color: black;
}

.nav-color{
    color: white;
}


